*{
    scroll-behavior:smooth;
}


header{
    background-image: url(./assets/images/header.jfif);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 550px;
    color: white;
}
.menus{
    display: flex;
    
    justify-content: center;
}
li{
    list-style-type: none;
}
ul.menus li{
    padding: 30px;
    list-style-type: none;
    font-size: 23;}
.main-section{
    display: flex;
}
.main-section div{
    padding-top: 80px;
}
.left-main-section,.right-main-section{
text-align: center;
padding: 40px;
}
.services{
    padding-top: 50px;
    text-align: center;
    padding-bottom: 50px;

}
.tech-section{
    text-align: center;
}
footer{
    display: flex;
    padding: 20px;
    text-align: center;
}
footer div{
    padding: 30px;
}
a:link {
    color:white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
  aside{
    display: block;
    border: 2px solid black;
    border-radius: 10px;
    width: 300px;
    margin-top: 50px;
  }
  aside ol h1{
    text-align: center;
  }
  aside ol li{
    list-style-type: decimal;
    text-align: center;
  }
  .rewards{
    background-image: url(./assets/images/bg2.jpg);
    /* background-position: center; */
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
    background-attachment: fixed;
  }
  .gallery{
    width: 100%;
  }
  .gallery h1{
    text-align: center;
  }
  .grid-container{
    width: 97%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    padding: 10px;
    text-align: center;
  }
  .grid-container-about{
display: grid;
grid-template-columns: auto auto auto auto;
  }
  .grid-container-about .grid-item img{
    width: 400px;
    height: 214px;
    border-radius: 20px;
  }
  .grid-item{
    padding: 10px;
    text-align: center;
  }
  .grid-container .grid-item img{
    width: 140px;
    height: 114px;
  }
  .grid-container h3{
    font-size: 14px;
  }
  .last-line{
    display: flex;
    justify-content: space-evenly;
    border-top:2px solid black ;
  }
  .service-title ul{
    border: 2px solid black;
    border-radius: 20px;
    margin-inline: 10px;

  }